/* Top of the file - reset margin & padding */
html, body {
    margin: 0;
    padding: 0;
}

/* Top Bar */
.top-bar {
    width: 100%;
    height: 30px;
    background-color: #ca0606d7;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #faf4bb;
}

* {
    color: #ff69b4; /* pink */
}

p {
    font-size: 18px;
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ff69b4; /* pink button */
    color: white; /* text white */
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #ff1493; /* darker pink on hover */
}

/* NAVIGATION BAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 40px;
    background-color: #faf4bb;

/* BORDERS*/
    border-bottom: 1px solid #ff0000b6;

    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.menu-container {
    background-color: #ff69b4;
    border-radius: 50px;
    padding: 5px 20px;
    display: flex;
    justify-content: center;
    width: 200;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1)
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    text-decoration: none;
    font-size: 1rem;
    color: #333;
    transition: color 0.2s;
    padding: 5px 10px;
}

.nav-links li a:hover {
    color: #ff1493;
}